.introMessage {
  position: absolute;
  left: 24px;
  top: 24px;
  padding: 32px;
  width: 544px;
  background: #bdd9e9;
  border: 2px solid #40176a;
  border-radius: 24px;
  color: #40176a;
}

.bold {
  font-weight: 700;
}

.button {
  font-weight: 700;
  padding: 8px 12px;
  width: fit-content;
  border: 2px solid #8134cd;
  border-radius: 24px;
  &:hover {
    cursor: pointer;
  }
}

.saveInput {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid #8134cd;
  width: 100%;
  margin-bottom: 8px;
}

.saveComponent {
  border: 2px solid #8134cd;
  border-radius: 24px;
  background: #bdd9e9;
  padding: 8px 12px;
}

.buttonFrame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 24px;
  flex: 1 0 auto;
}

.infoButton {
  composes: button;
  width: 90px;
}

.topRightButtons {
  display: flex;
  width: 220px;
  flex-direction: column;
  align-items: flex-end;

  > div {
    margin-bottom: 8px;
  }
}

.viewGalleryLink {
  margin-top: 24px;
}

.canvasItem {
  flex: 1 1 auto;
}

.canvasWrapper {
  height: min(calc(100vh - 49px - 48px), calc(100vw - 220px - 90px));
  width: min(calc(100vh - 49px - 48px), calc(100vw - 220px - 90px));
  aspect-ratio: 1;
  margin: auto;
}
