.scene {
  flex: 1 1 auto;
}

.links {
  position: absolute;
  margin: 24px;
  display: flex;
  justify-content: space-between;
  width: calc(100% - 48px);
}

.nameVisible {
  visibility: visible;
  opacity: 1;
}

.nameHidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 3s, opacity 3s linear;
}
