body {
  margin: 0;

  background: #bdd9e9;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  overscroll-behavior: none;

  color: #6427a0;

  @media screen and (max-width: 768px) {
    font-size: 16px;
  }

  a:visited {
    color: #6427a0;
  }
}

html,
body,
#__next {
  height: 100%;
}

#__next {
  display: flex;
  flex-direction: column;
}

.marquee {
  height: 49px;
  background: #40176a;
  flex: 0 0 auto;
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  color: white;

  line-height: 49px;
  @media screen and (max-width: 768px) {
    font-size: 10px;
    line-height: unset;
    display: flex;
    p {
      margin: 0;
    }
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
  }
}

input {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #6427a0;
}

canvas {
  display: block;
}

a {
  border-bottom: 2px solid #6427a0;
  text-decoration: none;
}
