body {
  margin: 0;
  height: 100%;

  background: #bdd9e9;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  overscroll-behavior: none;

  color: #6427a0;

  display: flex;
  flex-direction: column;
  height: 100vh;
}

.marquee {
  height: 49px;
  background: #40176a;
}
.marqueeText {
  padding-left: 8px;
  white-space: nowrap;
  overflow: hidden;
  line-height: 49px;
  color: white;
}

input {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #6427a0;
}

canvas {
  display: block;
}

a {
  border-bottom: 2px solid #6427a0;
  text-decoration: none;
}
