body {
  margin: 0;
  height: 100%;

  background: #bdd9e9;

  font-family: "Space Mono";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  overscroll-behavior: none;

  color: #6427a0;
}

canvas {
  display: block;
}

a {
  border-bottom: 2px solid #6427a0;
  text-decoration: none;
}
